* {
  padding: 0%;
  margin: 0%;
  background-color: rgba(204, 204, 204, 0.65);
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.one-card,
.two-card {
  padding-top: 50px;
  margin: 4%;
  width: 450px;
  height: 400px;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 7px 5px #282937;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.primerImagen,
.segundaImagen {
  background-color: rgb(255, 255, 255);
  margin: 0%;
}

.primerBoton,
.segundoBoton {
  width: 60%;
  border-radius: 8px;
  padding: 5%;
  color: #ffff;
  background-color: #ed6755;
  border: none;
  box-shadow: 1px -1px 7px 5px #ff0000;
  cursor: pointer;
  margin-top: 50px;
}
.segundoBoton {
  background-color: #2c3e50;
  box-shadow: 1px 0px 7px 5px #2c3e50;
  margin-top: 90px;
}
.primerTexto,
.segundoTexto {
  text-align: center;
  padding-top: 60px;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: monospace;
}
.segundoBoton:hover
{
  animation: pulse;
  animation-duration: 2s; 
}